<a href="https://colab.research.google.com/github/JAYANT05/eda-airbnb/blob/main/Airbnb_Bookings_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : 
* What can we learn about different hosts and areas?
* What can we learn from predictions? (ex: locations, prices, reviews, etc)
* Which hosts are the busiest and why?
* Is there any noticeable difference of traffic among different areas and what could be the reason for it? </b>

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Copy of Airbnb NYC 2019.csv")

In [64]:
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [6]:
df.describe(include = "all")

                  id  ... availability_365
count   4.889500e+04  ...     48895.000000
unique           NaN  ...              NaN
top              NaN  ...              NaN
freq             NaN  ...              NaN
mean    1.901714e+07  ...       112.781327
std     1.098311e+07  ...       131.622289
min     2.539000e+03  ...         0.000000
25%     9.471945e+06  ...         0.000000
50%     1.967728e+07  ...        45.000000
75%     2.915218e+07  ...       227.000000
max     3.648724e+07  ...       365.000000

[11 rows x 16 columns]

In [7]:
df.shape

(48895, 16)

In [11]:
# giving back column which has missing value  Function
def show_missing():
    missing = df.columns[df.isnull().any()].tolist()
    return missing

In [14]:
df.columns[df.isnull().any()].tolist()

['name', 'host_name', 'last_review', 'reviews_per_month']

In [12]:
# Missing data counts and percentage
print('Missing Data Count')
print(df[show_missing()].isnull().sum().sort_values(ascending = False))
print('--'*50)
print('Missing Data Percentage')
print(round(df[show_missing()].isnull().sum().sort_values(ascending = False)/len(df)*100,2))

Missing Data Count
reviews_per_month    10052
last_review          10052
host_name               21
name                    16
dtype: int64
----------------------------------------------------------------------------------------------------
Missing Data Percentage
reviews_per_month    20.56
last_review          20.56
host_name             0.04
name                  0.03
dtype: float64

#there is high possibility that lot of customer don't like to review

as it is not sensibile to loss review per month column and for computational purpose it is should be replace by mode

In [63]:
df["reviews_per_month"] = df["reviews_per_month"].fillna(df["reviews_per_month"].mean())

host name and name missing cann't be replace therfore should be remove

In [83]:
df.dropna(subset = ["host_name","name",'last_review'], inplace=True)

last review conversion

In [92]:
def year_seapration(obj):
  return int(obj[0:4])
def month_seapration(obj):
  return int(obj[5:7])

In [93]:
df["year"] = df['last_review'].apply(year_seapration)
df["month"] = df['last_review'].apply(month_seapration)

In [97]:
df.columns

Index([                            'id',                           'name',
                              'host_id',                      'host_name',
                  'neighbourhood_group',                  'neighbourhood',
                             'latitude',                      'longitude',
                            'room_type',                          'price',
                       'minimum_nights',              'number_of_reviews',
                    'reviews_per_month', 'calculated_host_listings_count',
                     'availability_365',                ('year', 'month'),
                                 'year',                          'month'],
      dtype='object')

In [96]:
df.drop("last_review" ,axis=1,inplace =True)

In [102]:
df['host_name'].value_counts()

Michael         335
David           309
John            250
Alex            229
Sonder (NYC)    207
               ...
Rito              1
Harvy Jake        1
Gay               1
Andrian           1
Nick & Nadia      1
Name: host_name, Length: 9885, dtype: int64